################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/node_modules
/obj/Debug
/test/tape/target_tests.js
/test/tape/run_test.js
/test/tape/find_tests.js
/test/utilities.js
/test/tests.js
/test/ExportRunner/find_tests.js
/test/ExportRunner/target_tests.js
*.map
/test/mocha/find_tests.js
